*.pyc
*/__pycache__
.idea/
checkpoints/
summary/
weights/
*mine.py
transfer.py
local.py
*.pb
*.onnxdatasets/
yolov4_coco_m2_asff_544.onnx
*.onnx
.vscode/
*.trt
summary/
*.trt
*.trt
checkpoints/
weights/
weights/
vendor/
tests.py
